@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Serif&family=Roboto+Condensed&display=swap");
/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Condensed', sans-serif;
 */
:root {
  --main-color: rgb(100, 14, 39);
  --bg-color: linear-gradient(180deg, #640e27 25%, #000000 100%);
  --bg-rev-color: linear-gradient(0deg, #640e27 25%, #000000 100%);
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
body {
  line-height: 1.5;
}
h2 {
  font-size: 42px;
  font-family: "Josefin Sans", sans-serif;
}
h2,
h4,
label {
  color: #640e27;
}
p,
label {
  font-family: "PT Serif", serif;
  font-size: 18px;
}
label {
  font-weight: 600;
}
figure {
  margin: 0;
}
a:hover {
  transition: 0.2s ease-in;
  text-decoration: none;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.row .col {
  width: 220px;
}

.row .col + .col {
  margin-left: 30px;
}
.col img {
  width: 100%;
  height: 300px;
}
.title {
  text-transform: capitalize;
}
.btn {
  border: 0;
  background-image: var(--bg-color);
  color: #fff;
  padding: 0.8em 2em;
  display: block;
  width: fit-content;
}

.btn:hover,
nav ul li a.active,
nav ul li a:hover {
  transition: 0.3s;
  background-image: var(--bg-rev-color);
  color: white;
}
.Continue-reading {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  font-weight: 700;
  z-index: 3;
}
/* padding */
article.books > .row {
  padding: 30px 0;
}
main article > section,
.vision,
.contact-us {
  padding-top: 30px;
}
main article section:last-of-type {
  padding-bottom: 30px;
}

/* overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  transition: 0.5s;
}

.content-overlay {
  background-color: white;
  position: fixed;
  top: 0;
  right: -150%;
  height: 100%;
  z-index: 2;
  transform: translateX(50%);
  transition: 0.5s;
  align-items: center;
}
.content-overlay .details {
  padding-left: 30px;
  padding-right: 30px;
}

.content-overlay .details a {
  align-self: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* utilities */
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.transition-delay {
  transition-delay: 0.5s !important;
}
.flex-column {
  flex-direction: column;
}
.display-none {
  display: none;
}
.position-relative {
  position: relative;
}
.text-center {
  text-align: center;
}
/* nav */
nav .container {
  justify-content: space-between;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 220px;
  height: 120px;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  font-family: "PT Serif", serif;
}
nav ul li {
  display: flex;
}

nav ul li a {
  display: flex;
  align-items: center;
  padding: 20px;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
/* main */
/* slider sponsored */
.slider {
  min-height: 550px;
}
.sponsored img {
  width: 345px;
  height: 550px;
}
.sponsored .details {
  padding-left: 30px;
  padding-top: 0;
  justify-content: center;
}
.sponsored .details button {
  border: 0;
  background-color: black;
  color: #fff;
  padding: 8px 25px;
  align-self: flex-end;
}
.sponsored .details button:hover {
  transition: 0.2s ease-in;
  background-color: #616161;
}
.slider-controls {
  justify-content: center;
  padding-top: 30px;
}
.slider-controls .control {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--main-color);
  transition: 0.5s ease-in-out;
}
.slider-controls .control.active {
  background-color: var(--main-color);
}
.slider-controls .control + .control {
  margin-left: 10px;
}
/* vision */
.vision p::first-letter {
  padding-left: 40px;
}

/* books */
.books > a.btn {
  margin: 0 auto;
}

.books img {
  cursor: pointer;
}

.books section {
  padding-top: 60px;
}
.books section:last-of-type {
  padding-bottom: 60px;
}

.books .scrollable {
  padding-right: 9.5px;
  height: 300px;
  overflow: overlay;
  overflow-x: hidden;
  width: 100%;
}
.books .scrollable img {
  margin-bottom: 30px;
}
.books .scrollable figure:last-of-type img {
  margin-bottom: 0;
}

/* footer */
/* contact */
#name,
#email,
#subject,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

input,
textarea {
  width: 100%;
}
#name,
#lableRow label {
  margin-right: 10px;
}

#emailLable {
  margin-left: 45.2%;
}

#contactButton {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contactButton:hover {
  background-color: rgb(68, 68, 68);
}

#container_table {
  border-radius: 5px;
  padding: 20px;
}

#footerTitle {
  text-align: center;
}

#hrFooter {
  height: 2px;
  border-width: 0;
  color: var(--main-color);
  background-color: var(--main-color);
  width: 650px;
  margin: 0 auto;
}

#charNum {
  text-align: right;
  margin-top: -20px;
}
/* popup */
.popup {
  background-color: white;
  position: fixed;
  top: 25%;
  right: 150%;
  height: 320px;
  width: 500px;
  z-index: 2;
  transform: translateX(50%);
  transition: 0.5s;
  align-items: center;
  border: var(--main-color) solid;
  border-radius: 50px;
}
.popDetails {
  margin-top: 43%;
  margin-bottom: 35%;
  position: absolute;
  left: 13px;
  text-align: center;
}
.popDetails i {
  color: var(--main-color);
}
/* copyright */
.copyright a {
  color: var(--main-color);
  text-decoration: underline;
  transition: 0.3s;
}

.copyright a:hover {
  padding: 10px;
}
/* animations */
.left-to-right {
  animation: left-to-right 1.5s;
}
.right-to-left {
  animation: right-to-left 1.5s;
}
@keyframes left-to-right {
  from {
    transform: translateX(-100px);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right-to-left {
  from {
    transform: translateX(100px);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
